@model PimWebApplication.Models.Vendas

@{
    ViewData["Title"] = "Excluir Venda";
}

<h1 style="color: #dc3545;">Excluir Venda</h1>

<h3>Tem certeza que deseja excluir esta venda?</h3>

<div>
    <h4>Detalhes da Venda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QtdVendida)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QtdVendida)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PrecoTotal)
        </dd>
    </dl>
</div>

<div class="btn-group">
    <form asp-action="Delete" method="post" style="display:inline;">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>

